/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}

section {
    margin-bottom: 50px;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-orange {
    background-color: #CD3D0F;
    border: 1px solid #CD3D0F;
}

/* Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
header .top-header {
    background-color: #000;
    height: 30px;
}
header .top-header img {
    display: inherit;
}

header .search {
    height: 20px
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;   
    height: 675px;

}
#jumbotron .content {
    height: 60%;
}

#jumbotron .col-8 p {
    font-size: 45px;
}

/* GAMES */
#games img {
    max-width: 100%;
    display: block;
}

/* PRESENTATION PS5 */
#presentation-ps5 h2 {
    font-size: 40px;
}
