/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;
    position: relative;
}

section {
    margin-bottom: 40px;
    padding: 50px 0;
}

img {
    max-width: 100%;
    display: block;
}

sup {
    font-size: 9px;
}

h2 {
    font-size: 45px;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-orange {
    background-color: #CD3D0F;
    border: 1px solid #CD3D0F;
}

/* Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

}
header .top-header {
    background-color: #000;
    height: 30px;
}
header .top-header img {
    display: inherit;
}

header .search {
    height: 20px
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;   
    height: 675px;

}
#jumbotron .content {
    height: 60%;
}



/* PRESENTATION PS5 */
#presentation-ps4 h2,
#presentation-ps5 h2 {
    font-size: 40px;
}

/* New Games */
#new-games-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 955px;
    margin-bottom: 0;
}

#new-games-bottom p {
    margin-top: 5px;
    font-size: 18px;
}

 h2 {
    font-size: 45px;
}


#new-games-bottom h4 {
    font-size: 25px;
}
#new-games-bottom h2 {
    font-size: 35px;
}

/* PlayStation Plus */
#playstation-plus {
    background-color: #BEBCBB;
}