/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: sans-serif;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}

sup {
    font-size: 9px;
}

h2 {
    font-size: 40px;
}

h2 .sm {
    font-size: 35px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

ul a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}


/* Utils */
.opaca {
    opacity: 0.7;
}


/* Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

header .top-header {
    height: 30px;
}

header .search {
    height: 20px
}


/* Jumbotron  */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;   
    height: 675px;
}


/* PRESENTATION PS5 */
#presentation-ps5 figure {
    height: 280px;
}
 
#presentation-ps5 figure:hover {
    border-bottom: 2px solid #0D6EFD;
    opacity: 1;
}


/* New Games */
#new-games-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 955px;
    margin-bottom: 0;
}

#new-games-bottom p {
    margin-top: 5px;
    font-size: 18px;
}


/* PlayStation Plus */
#playstation-plus {
    background-color: #BEBCBB;
}


/* PlayStation Now  */
#playstation-now {
    background-color: #161C3B;
}


/* Footer  */
footer {
    background-color: #00439C;
}